/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3944BC;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #808080; 

}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.navbar{
    position: fixed;
    z-index: 10000;
    width: 100%;
}
.nav{
    padding: 20px;
    background-color: white;
}

.nav-toggler{
    border : none;
    outline: none;
}

.toggle-icon, .brand{
    color: #292D32;
    font-weight : 'bold';
}

.nav-link{
    color : #A0A29E;
}

.padded-left{
    padding-left: 50;
}

.padded-left-sm{
    padding-left: 10px;
}

.nav-right{
    margin-left : '40%';
}

.active{
    color : #2B2F29;
    font-weight: bolder;
    outline: none;
    border-bottom : 3px solid #F24C00;
    width: inherit;
}

.btn-outline{
    border: 1px solid #5A63C7;
    color : #3944BC;
    padding: 5px 15px;
    font-weight: bold;
}

.btn-blue{
    background-color: #3944BC;
    padding: 9px 15px;
}

.btn-solid{
    background-color: rgba(143, 137, 208, 0.38);
    color: #3944BC;
    padding: 5px 15px;
    font-weight: bold;
}

.text-bold{
    font-weight: 'bolder';
}

.box{
    width:  70px;
    height: 70px;
    border-radius: 6px;
}
.tool-text{
    padding-top: 10px;
}

.text{
    color : #292D32;
}

.hero{
    padding: 100px 60px;
    display: flex;
    flex-direction: row;
}

.hero-img{
    width: auto;
    height: 500px;
}

.nav-collapsible{
    z-index: 6000;
    background-color: rgba(255, 255, 255, 1);
}

.hero-text-img{
    position: absolute;
    left : 340px;
    top : 208px;
    width: 80px;
    height: 80px;
}

.hero-desc{
    color: #464646;
}

.hero-left{
    width : 40vw;
    padding : 120px 120px 0px 0px;

}

.tools-row{
    background-color: rgba(19, 15, 242, 0.1);
    padding: 30px 60px;
}

.hero-caption{
    color : black;
    font-weight: bold;
}

.text-blue{
    color: #262FF2;
}

.text-light{
    font-weight: normal;
    font-size: 16px;
}

.section-img{
    width: 571px;
    height: 571px;
}


/* Tablet and mobile */
@media screen and (max-width: 600px) {
    .brand-logo{
        display: none;
    }
    .nav-right{
        margin-left : 0;
    }
    .tablet-hidden{
        display: none;
    }
    .hero{
        text-align: center;
        padding: 70px 10px 30px 10px;
        flex-direction: column;
    }
    .hero-img{
        width: 100%;
        height: auto;
    }
    .hero-text-img{
        display: none;
    }
    .hero-left{
        padding : 20px;
        width: 100%;
    }

    .nav-collapsible{
        box-shadow: 0px 2px rgba(247, 242, 242, 0.9);
    }

    .nav-link {
        max-width: 90px;
    }
}

/* Desktop */
@media screen and (min-width: 600px) {
    .desktop-hidden{
        display: none;
    }
}
  